* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
    height: 100vh;
}

.row {
    display: flex;
    height: 100%;
}

.forgot-password-column {
    flex: 50%;
    background-color: white;
}

.forgot-password-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forgot-password-container h1 {
    margin-bottom: 50px;
    color: black;
    font-size: 48px;
}

.forgot-password-container h2 {
    margin-bottom: 50px;
    color: black;
    font-size: 24px;
    font-weight: normal;
}

.forgot-password-container form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgot-password-container input {
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    color: black;
    font-size: 20px;
}

.forgot-password-container input[type=submit] {
    background-color: black;
    border-color: black;
    color: white;
    cursor: pointer;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 0px;
    width: 100px;
    padding: 10px;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left-style: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.signup-column {
    flex: 50%;
    background-color: black;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.signup-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-container h1 {
    margin-top: 200px;
    color: white;
    font-size: 48px;
    margin-bottom: 80px;
}

.signup-container p {
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
}

.signup-container a {
    width: 50%;
    padding: 15px;
    background-color: black;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}