* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
    height: 100vh;
}

.row {
    display: flex;
    height: 100%;
}

.tab-column {
    flex: 15%;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.tab-column h1 {
    color: white;
    font-size: 24px;
    text-align: center;
    margin-bottom: 50px;
}

.tab-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tab-container a {
    width: 100%;
    padding: 15px;
    margin-bottom: 30px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-align: left;
}

.current-tab {
    background-color: white;
    color: black;
}

.tab-container a:not(.current-tab) {
    background-color: black;
    color: white;
}

.tab-container a:hover {
    background-color: white;
    color: black;
}

.tab-container a.sign-out:hover {
    background-color: white;
    color: red;
}

.content-column {
    flex: 85%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.head-container {
    flex: 10%;
    background-color: white;
}

.user-container {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}

.user {
    font-size: 48px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.name {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
}

.content-container {
    flex: 90%;
    background-color: #f2f2f2;
}

.function-container {
    width: 30%;
    margin-top: 15px;
    margin-left: 7px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-self: left;
}

.function-container div {
    position: relative;
    width: 45%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-color: black;
    border-style: none;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#sort {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#filter {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.function-container ul {
    position: absolute;
    top: 80%;
    width: 100%;
    max-height: 0;  
    color: white;
    font-size: 16px;
    text-align: center;
    border-color: black;
    border-style: solid;
    border-width: 4px;
    transition: max-height 0.25s;
    list-style: none;
    overflow: hidden;
    z-index: 1;
}

#sort ul {
    border-bottom-left-radius: 10px;
}

#filter ul {
    border-bottom-right-radius: 10px;
}

.function-container ul li {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    cursor: pointer;
}

#sort ul.open {
    max-height: 1000px;
    z-index: 1;
}

#filter ul.open {
    max-height: 1000px;
    z-index: 1;
}

.table-container {
    width: 100%;
    height: 80%;
    margin-top: 15px;
    overflow-y: auto;
}

table {
    width: 97%;
    justify-self: center;
    border-collapse: collapse;
}

thead {
    position: sticky;
    top: 0;
}

tr {
    background-color: white;
}

tr:hover {
    background-color: #D3D3D3;
}

tr:hover button {
    background-color: #D3D3D3;
}

tr button {
    font-size: 16px;
    background-color: white;
    border: none;
    cursor: pointer;
}

th {
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom-style: solid;
    border-bottom-color: black;
    background-color: #C0C0C0;
    font-size: 16px;
    text-align: center;
}

td {
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.popup {
    width: 60%;
    height: 50%;
    padding: 10px;
    background-color: white;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

.popup h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: black;
    font-size: 20px;
}

.stats-container {
    width: 90%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: #f2f2f2;
    border-style: solid;
}

.stats-container p {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    color: black;
    font-size: 16px;
    border-color: black;
    border-bottom-style: solid;
}

.stats-container p:not(:last-child) {
    margin-bottom: 10px;
}

.button-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.popup button {
    width: 40%;
    padding: 5px;
    margin-top: 10px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.cancel {
    background-color: white;
    border-color: black;
    color: black;
}

.cancel:hover {
    color: red;
}

.confirm {
    background-color: black;
    border-color: black;
    color: white;
}